<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OOPS! NOT FOUND</title>
    <link rel="stylesheet" href="notFound.css">
</head>
<body>
    <div class="PR-main">
        <header style="width: 100%;"> 
            <hr style="height:2px;border-width:0;color:gray;background-color:gray">
             
                <p id="PR-heading-text">
                    <span class="mask-text">
                        REAL TIME</span>
                        PRODUCT REVIEW INTERFACE
                    </p>
             
                    <hr style="height:2px;border-width:0;color:gray;background-color:gray">         
        </header>
        <div class="PR-fetch-box">
            <p>OOPS!! 404</p>
            <p>
                Couldn't fetch for the product.. :/
            </p>
            
        </div>
    </div>
</body>
</html>